body {
  background-color: $body-background-color;
}

.parntr-container {
  margin: 0 auto;
}

.bg-partnr-blue {
  background-color: $partnr-blue;
}

.bg-partnr-yellow {
  background-color: $partnr-yellow;
}
