body {
  background-color: $body-background-color;
}

.parntr-container {
  margin: 0 auto;
}

.bg-partnr-blue {
  background-color: $partnr-blue;
}

.bg-partnr-yellow {
  background-color: $partnr-yellow;
}


// bootstrap-like text-related classes
.text-partnr-dark-gray {
  color: $partnr-dark-gray !important;
}

.text-partnr-yellow {
  color: $partnr-yellow !important;
}

.border-partnr-yellow {
  border: 1px solid $partnr-yellow;
}

.border-partnr-blue {
  border: 1px solid $partnr-blue;
}
