.index-search-container {
  min-height: 100vh;
}

.sticky {
  position: fixed;
  top: 0;
}

.sticky-right {
  position: fixed;
  top: 0;
  right: 0;
}

.sticky-right-w-margin {
  position: fixed;
  top: 0;
  right: 0;
}
