.partners-container {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
}

.no-partners {
  margin-top: 150px;
  color: white;
  background-image: linear-gradient(#485563, #29323C);
  height: 250px;
  padding: 4px;
  border-radius: 8px;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
}

.partners-show-flex {
  display: flex;
  justify-content: center;
  margin: 20px 0 0 0;
}

.good-title {
  font-size: 30px;
  color: black;
}

.partners-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
