<div class="d-flex partnr-container p-5">
  <div id='container' class="contract col-sm-12 col-md-9"></div>
  <div class="status-box col-sm-12 col-md-3 ba b-dashed">
    <h2>this is a status box</h2>
  </div>
</div>

<% content_for :after_js do %>
  <script>
    // Carrega o widget embedded com a request_signature_key
    widget = new Clicksign("<%= @good.partners.where(user: current_user).first.request_signature_key %>");

    // Define o endpoint https://sandbox.clicksign.com ou https://app.clicksign.com
    widget.endpoint = 'https://app.clicksign.com';

    // Define a URL de origem (parametro necessário para utilizar através de WebView)
    widget.origin = 'https://partnr.live';
    // widget.origin = 'https://partnr.me';

    // Monta o widget no div
    widget.mount('container');
  </script>
<% end %>
