<h1>THIS IS OUR HOME</h1>
<!DOCTYPE HTML>
<!--[if IE 8 ]> <html class="ie ie8 ie-lt10 ie-lt9 no-js" lang="en"> <![endif]-->
<!--[if IE 9 ]> <html class="ie ie9 ie-lt10 no-js" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--><html class="no-js" lang="en"><!--<![endif]-->
<head>
  <!-- Google Analytics...4 -->
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-133298766-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-133298766-1');
  </script>
  <!-- Google Analytics End -->

  <!-- HotJar -->
  <!-- Hotjar Tracking Code for www.conbox.me -->
<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:1162183,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>
  <!-- HotJar End -->

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <link href="/images/general-elements/favicon.ico" rel="shortcut icon" type="image/x-icon" />
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta property="og:tag" content="partnr.me">
  <meta property="og:locale" content="en_US">
  <meta property="og:url" content="http://www.partnr.me">
  <meta property="og:title" content="Wealthy lifestyle made together">
  <meta property="og:site_name" content="Partnr">
  <meta property="og:description" content="Partnr is a timeshare platform for luxury goods buying and management">
  <meta property="og:image" content="http://www.partnr.me/fb.jpg">
  <meta property="og:image:type" content="image/jpeg">
  <meta property="og:image:width" content="800">
  <meta property="og:image:height" content="600">
  <meta property="og:type" content="website">

  <!-- FAVICON -->
  <link rel="icon" type="image/png" href="images/general-elements/favicon.png">

  <!-- TITLE -->
  <title>partnr | luxury lifestyles</title>
  <!-- Google result text-->
  <!-- Google result description-->
    <meta name="description" content="We reduce up to 75% the buying price and maintenance cost of luxury goods by creating a sharable culture for up to 4 owners - Meet Partnr and start living today, your life of tomorrow">
  <!-- CSS -->
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/skins/default.css" data-color-skins="">
</head>

<body>

  <div id="full-container">
    <header id="header">
      <section class="header-top-content">
        <div class="header-top-content-inner">
              <div class="container">
            <div class="row">
              <div class="col-sm-12">

                <div class="contact-info">
                <img class="footer-logo-image" src="images/general-elements/dark-logo1.png" alt="">
                <!-- end contact-info -->
                </div>
                        <div class="header-additional-addons">
                  <ul class="social-icons grey hover-colorful-BG x-small rounded">
                    <li>
                      <a class="social-icon-twitter" href="http://www.twitter.com" target="_blank">
                        <i class="fa fa-twitter"></i>
                      </a>
                    </li>
                    <li>
                      <a class="social-icon-facebook" href="http://www.facebook.com" target="_blank">
                        <i class="fa fa-facebook"></i>
                      </a>
                    </li>
                    <li>
                      <a class="social-icon-instagram" href="http://www.instagram.com/partnr.me" target="_blank">
                        <i class="fa fa-instagram"></i>
                      </a>
                    </li>
                <!-- end social-icons -->
                  </ul>
                    <!-- end header-additional-addons -->
                        </div>
              <!-- end col-sm-12 -->
              </div>
            <!-- end row -->
            </div>
          <!-- end container -->
          </div>
        <!-- end header-top-content-inner -->
        </div>
      <!-- end header-top-content -->
      </section>

      <section id="header-featured-content-outer">
        <div class="header-parallax fullscreen" data-stellar-background-ratio="0.5" data-parallax-background-image="image1.jpg">
          <div class="pattern-overlay" data-pattern-overlay-darkness-opacity="0.8" data-pattern-overlay-background-image="yes"></div>
          <div class="header-colored-background" data-background-color="" data-background-color-opacity=""></div><!-- end header-colored-background -->
          <div class="header-featured-content">
            <div class="header-featured-content-inner">
              <div class="container">
                <div class="row">
                  <div class="col-md-12">
                    <div class="header-center-box text-center">
                      <div class="header-center-box-content">
                        <span class="header-logo">
                          <img alt="Slider Logo" src="images/general-elements/header-logo.png">
                        </span>
                        <div class="header-featured-title">
                          <h2>Start living <strong class="colored">today</strong>, your life of tomorrow</h2>
                          <p>
                            Get ready for <strong class="colored">Partnr</strong>, your first dream achiever
                          </p>
                          <p>
                            COMING SOON
                          </p>
                        <!-- end header-featured-title -->
                        </div>
                      <!-- end header-center-box-content -->
                      </div>
                    <!-- end header-center-box -->
                    </div>
                  <!-- end col-md-12 -->
                  </div>
                <!-- end row -->
                </div>
              <!-- end container -->
              </div>
            <!-- end header-featured-content-inner -->
            </div>
          <!-- end header-featured-content -->
          </div>
        </div><!-- end header parallax -->

      <!-- end header-featured-content-outer -->
      </section>

    <!-- end header -->
    </header>

    <div id="main-container">

      <div id="main">

<!-- ===========================================
    Start "Fun Facts" section
============================================ -->

        <section id="fun-facts">
          <div class="flat-section">
            <div class="container">
              <div class="row">
                <div class="col-sm-12">
                  <div class="flat-section-title">
                    <h2>Brazilian Luxury Market Facts</h2>
                    <span class="flat-section-subtitle">
                      Partnr is the first marketplace and managing platform for luxury  goods timeshare in Brazil
                    <!-- end flat-section-subtitle -->
                    </span>
                  <!-- end flat-section-title -->
                  </div>
                <!-- end col-sm-12 -->
                </div>
                <div class="col-sm-6 col-md-3">
                  <div class="info-box1 fun-facts-box">
                    <span class="info-box-icon icon x3"><img src="images/files/icons/icon9.png" alt=""></span>
                    <div class="info-box-content">
                      <h5>Millionaires emerged in 2018</h5>
                      <span>7000</span>
                    <!-- end info-box-content -->
                    </div>
                  <!-- end info-box1 -->
                  </div>
                <!-- end col-sm-6 col-md-3 -->
                </div>
                <div class="col-sm-6 col-md-3">
                  <div class="info-box1 fun-facts-box">
                    <span class="info-box-icon icon x3"><img src="images/files/icons/icon10.png" alt=""></span>
                    <div class="info-box-content">
                      <h5>Brazils material desire world-position</h5>
                      <span>4</span>º place
                    <!-- end info-box-content -->
                    </div>
                  <!-- end info-box1 -->
                  </div>
                <!-- end col-sm-6 col-md-3 -->
                </div>
                <div class="col-sm-6 col-md-3">
                  <div class="info-box1 fun-facts-box">
                    <span class="info-box-icon icon x3"><img src="images/files/icons/icon11.png" alt=""></span>
                    <div class="info-box-content">
                      <h5>People willing to buy a luxury good this year</h5>
                      <span>5000</span>
                    <!-- end info-box-content -->
                    </div>
                  <!-- end info-box1 -->
                  </div>
                <!-- end col-sm-6 col-md-3 -->
                </div>
                <div class="col-sm-6 col-md-3">
                  <div class="info-box1 fun-facts-box resp-remove-margin-bottom">
                    <span class="info-box-icon icon x3"><img src="images/files/icons/icon12.png" alt=""></span>
                    <div class="info-box-content">
                      <h5>Timeshare early-bird prospects</h5>
                      <span>100000</span>
                    <!-- end info-box-content -->
                    </div>
                  <!-- end info-box1 -->
                  </div>
                <!-- end col-sm-6 col-md-3 -->
                </div>
              <!-- end row -->
              </div>
            <!-- end container -->
            </div>
          <!-- end flat-section -->
          </div>
        <!-- end fun-facts -->
        </section>

<!-- ===========================================
    End "Fun Facts" section
============================================ -->

      <!-- end main -->
      </div>
    <!-- end main-container -->
    </div>

    <footer id="footer">

      <div class="container">
        <div class="row">
          <div class="col-md-7">
            <div class="footer-logo-and-message">
              <img class="footer-logo-image" src="images/general-elements/footer-logo.png" alt="">
              <span class="footer-logo-title">Partnr</span>
              <div class="footer-message">Copyright © 2018 | All Rights Reserved</div>
            <!-- end footer-logo-and-message -->
            </div>
          <!-- end col-md-7 -->
          </div>
          <div class="col-md-5">
            <ul class="social-icons small rounded colorful-BG hover-colorful-BG">
              <li>
                <a class="social-icon" href="mailto:hello@p...
