<div class="home-page">
  <div class="col-xs-12">
    <h1 class="about">Estilo de vida luxuoso compartilhado.</h1>
    <br>
    <h1 class="clickme">Quer saber mais sobre nossos veículos? Clique <%= link_to "aqui.", goods_path %></h1>
  </div>
</div>
