<div class="home-page">
  <div class="col-xs-12">
    <h1 class="about">Wealthy lifestyle made together.</h1>
    <br>
    <h1 class="clickme">Wanto to know more about our cars? Go <%= link_to "here.", goods_path %></h1>
  </div>
</div>
