<div class="col-xs-12 col-md-3 p-0 pl-2 float-left bg-white shadow index-search-container">
  <%= render 'shared/search' %>
</div>

<div id="index-container" class="col-xs-12 col-md-9 d-flex flex-wrap p-0 pt-2 mt-1 float-right">
  <%= render 'goods/index_content' %>
</div>
