.btn-partnr {
  &:hover {
    color: #fff;
    opacity: 0.90;
  }
}

.btn-partnr-blue {
  background-color: $partnr-blue;
  color: white;
}

.btn-partnr-dark-gray {
  background-color: $partnr-dark-gray;
  color: white;
}

.btn-partnr-light-gray {
  background-color: $partnr-light-gray;
  color: white;
}

.btn-partnr-yellow {
  background-color: $partnr-yellow;
  color: $partnr-blue !important;
}

.btn-outline-partnr-dark-gray {
  color: $partnr-dark-gray;
  border: 1px solid $partnr-dark-gray;
  &:hover {
    background-color: $partnr-dark-gray;
    color: white;
  }
}

.btn-outline-partnr-yellow {
  color: $partnr-yellow !important;
  border: 1px solid $partnr-yellow;
  &:hover {
    background-color: $partnr-yellow;
    color: $partnr-blue !important;
  }
}

.btn-link-partner-dark-gray {
  color: $partnr-dark-gray !important;
