.btn-partnr-blue {
  background-color: $partnr-blue;
  color: white;
}

.btn-partnr-dark-gray {
  background-color: $partnr-dark-gray;
  color: white;
}

.btn-partnr-light-gray {
  background-color: $partnr-light-gray;
  color: white;
}

.btn-partnr-dark-gray {
  background-color: $partnr-yellow;
  color: white;
}
