.index-card {
  min-width: 300px !important;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 30px;
  margin-right: 10px;
  overflow: hidden;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  font-family: $profile-font;
  color: $partnr-blue;
}

.index-img {
  // width:150px;
  height:200px;
  background-size:cover;
  background-position:center center;
  background-repeat:no-repeat;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  &:hover {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
  }
  // background-image:asset-url('ferrari.jpg');
}

.search-index {
  margin-top: 19px;
  margin-left: 20px;
  margin-right: 20px;
  font-family: $profile-font;
}

.profile-user {
  margin-top: 25px;
  color: $partnr-blue;
  font-family: $profile-font;
  border-radius: 0.5rem;
  border: 1px solid rgba(103,112,119, 0.5);
  background-color: $body-background-color;
  background-size: cover;
  .btn-profile {
    margin-top: 15px;
  }
}

.profile-photo {
  padding-left: 15px;

  background-size: cover;
  background-position-y: center;
  position: relative;
  height: 170px;
}

.profile-name {
  // text-align: center;
  margin-top: 130px;
  font-size: 28px;
  margin-left: 190px;
  color: white;
}

.profile-content {
  margin-top: 50px;
}

.profile-pic {
  position: absolute;
  bottom: -65px;
}

.login-user {
  background-color: $body-background-color;
  font-family: $profile-font;
  margin-top: 90px;
  margin-left: 25px;
  margin-right: 25px;
  border: 1px solid rgba(103,112,119, 0.5);
  border-radius: 0.5rem;
}

.login-content {
  margin-top: 30px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 30px;
  .btn-signin {
    margin-top: 25px;
    margin-right: 10px;
  }
}

.signup {
  margin-top: 50px;
  margin-bottom: 30px;
  background-color: $body-background-color;
  font-family: $profile-font;
  border: 1px solid rgba(103,112,119, 0.5);
  border-radius: 0.5rem;
}

.signup-content {
  margin-top: 15px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 30px;
  .btn-signup {
    margin-top: 25px;
    margin-right: 10px;
  }
}

.forgotp {
  margin-top: 50px;
  background-color: $body-background-color;
  font-family: $profile-font;
  border: 1px solid rgba(103,112,119, 0.5);
  border-radius: 0.5rem;
}

.forgot-content {
  margin-top: 30px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 30px;
  .btn-forgot {
    margin-top: 25px;
    margin-right: 10px;
  }
}

.my-card {
  border-radius: 15px;
  background-color: $partnr-light-gray;
  height: 170px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 25px;
  padding: 20px;
  opacity: 0.9;
  width: 60vw;
  min-width: 300px;
  &:hover {
    opacity: 1;
  }
}

.profile-edit {
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: $body-background-color;
  font-family: $profile-font;
  border: 1px solid rgba(103,112,119, 0.5);
  border-radius: 0.5rem;
}

.profile-edit-content {
  margin-top: 30px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 30px;
  .cancel {
    margin-top: 15px;
  }
  .btn-edit {
    margin-right: 10px;
  }
}

.partner-card {
  color: white;
  margin: auto;
  padding: 20px;
  width: 50vw;
  min-width: 300px;
  height: auto;
  border-radius: 4px;
  background-color: $partnr-blue;
}

.other-info {
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  background-color: $partnr-light-gray;
}

.diff-forms {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  background-color: $partnr-dark-gray;
  padding: 50px;
}

.form-btns {
  display: flex;
  justify-content: space-between;
}


.confirmation-card {
  margin-top: 25px;
  color: $partnr-blue;
  font-family: $profile-font;
  border-radius: 0.5rem;
  border: 1px solid rgba(103,112,119, 0.5);
  background-color: $body-background-color;
  background-size: cover;
  .bg-white {
    background-color: white;
    margin: -1.25rem;
    padding: 0 1.25rem;
  }
}
.confirmation-profile-name {
  width: 200px;
  margin: 20px auto 0 auto;
  font-size: 23px;
  color: white;
}

.add-good {
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: $body-background-color;
  font-family: $profile-font;
  border: 1px solid rgba(103,112,119, 0.5);
  border-radius: 0.5rem;
}

.add-good-content {
  margin-top: 40px;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 30px;
  .btn-add-good {
    margin-top: 25px;
    margin-right: 10px;
  }
}

.upload-photo {
  border: 1px solid rgba(103,112,119, 0.5);
  border-radius: 0.5rem;
  padding: 8px 12px;
  cursor: pointer;
  font-weight: 500;
  background: $partnr-dark-gray;
  color: white;
  margin-right: 12px;
  &:hover {
    opacity: 0.8;
  }
}

.upload-video {
  border: 1px solid rgba(103,112,119, 0.5);
  border-radius: 0.5rem;
  padding: 8px 12px;
  cursor: pointer;
  font-weight: 500;
  background: $partnr-dark-gray;
  color: white;
  margin-right: 10px;
  &:hover {
    opacity: 0.8;
  }
}
.upload {
  display: flex;
}

.upload-profilephoto {
  border: 1px solid rgba(103,112,119, 0.5);
  border-radius: 0.5rem;
  padding: 5px 10px;
  cursor: pointer;
  font-weight: 500;
  background: $partnr-dark-gray;
  color: white;
  margin-top: 15px;
  &:hover {
    opacity: 0.8;
  }
}
