.partner-form-container {
  padding: 20px;
  height: auto;
  color: white;
  background-position: center;
  background-size: cover;
  min-height: 400px;
  min-height: calc(100vh - 82px);
  width: 100vw;
}

@media only screen and (max-width: 992px) {
  .partner-form-container {
    min-height: calc(100vh - 57.25px);
  }
}

.signup-form-container {
  margin-top: 50px;
  margin-bottom: 30px;
  font-family: $body-font;
}
