.partner-form-container {
  // display: flex;
  // text-align: center;
  // justify-content: center;
  // margin: 25vh 0 25vh 0;
  overflow-y: hidden;
  padding: 20px;
  // width: 30vw;
  height: auto;
  color: white;
  background-position: center;
  background-size: cover;
  min-height: 400px;
  height: calc(100vh - 93px);
  width: calc(100vw - 15px);
}
