input:focus {
  box-shadow: 0px 0px 0px 0px transparent !important;
}

input:not([type="range"], [type="submit"]), select {
  background-color: transparent;
  border: none !important;
  border-radius: 0 !important;
  border-bottom: 1px solid $partnr-light-gray !important;
  padding-left: 0 !important;

  &:focus {
    box-shadow: 0px 0px 0px 0px transparent !important;
  }
}

.custom-range::-webkit-slider-thumb {
  background: $partnr-blue;

  &:focus {
    box-shadow: 0px 0px 0px 0px transparent;
  }
}
