.partnr-logo img {
  width: 100px;
  // margin-right: 1200px;
}

.partnr-logo {
  a {
    text-decoration: none !important;
  }
  a.hover {
    text-decoration: none !important;
  }
}

li {
  a {
    text-decoration: none !important;
    color: $partnr-dark-gray;
  }
  a.hover {
    text-decoration: none !important;
    color: $partnr-dark-gray;
  }
}

.navbar-text img {
  width: 80px;
}

.btn-light {
  background-color: #e3f2fd !important;
  margin-left: 20px;
}
