.partnr-logo img {
  width: 100px;
}

.links {
  a {
    text-decoration: none !important;
  }
  a.hover {
    text-decoration: none !important;
  }
}

.btn-link {
  margin-left: 10px;
}

.image-navbar img {
  width: 70px;
}
