.navbar-light {
  background-color: #252839;
}

.partnr-logo img {
  width: 100px;
  // margin-right: 1200px;
}

.partnr-logo {
  a {
    text-decoration: none !important;
  }
  a.hover {
    text-decoration: none !important;
  }
}

li {
  a {
    text-decoration: none !important;
    color: #fff !important;
  }
  a.hover {
    text-decoration: none !important;
  }
}

.navbar-text img {
  border-radius: 50%;
  margin-left: 10px;
}

.btn-partnr-yellow {
  background-color: $partnr-yellow !important;
  margin-left: 10px;
}
